/* Background gradient credit and source
Manuel Pinto - https://codepen.io/P1N2O/pen/pyBNzX */

* {
  box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  
	height: 100vh;
  margin: 0;

  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.calculator {
  background: #000;
  box-shadow: 0 3px 4px 3px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%);
  padding: 3px;
}

.buttonContainer {
  height: 318px;
  padding: 3px;
  /*   box-shadow: 0 3px 4px 3px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%); */

  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  grid-template-rows: 60px 60px 60px 60px;
  grid-gap: 3px 3px;
  grid-template-areas:
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero dot equals";
}

#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#zero {
  grid-area: zero;
}
#add {
  grid-area: add;
}
#subtract {
  grid-area: subtract;
}
#divide {
  grid-area: divide;
}
#multiply {
  grid-area: multiply;
}
#clear {
  grid-area: clear;
  background-color: rgb(172, 57, 57);
  color: #fff;
}
#dot {
  grid-area: dot;
}
#equals {
  grid-area: equals;
  background: #00c853;
}

button {
  background: #fff;
  border: none;
  cursor: pointer;
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
}

.operator {
  background: #ccc;  
}

.display {
  text-align: right;
  color: #fff;
  font-weight: bold;
  font-family: monospace;
}

.output {
  padding: 4px 10px 6px;
  font-size: 20px;
}

.formula {
  padding: 16px 10px 4px;
  font-size: 18px;
  min-height: 42px;
}